In [2]:
import pandas as pd
import numpy as np

In [16]:
df = pd.DataFrame(np.random.randint(0,100,size=(100000, 4)), columns=list('ABCD'))

In [14]:
%%time
for i, row in df.iterrows():
    df.loc[i,"sum"] = getattr(row, 'A') + getattr(row, 'B')

CPU times: user 13.1 s, sys: 159 ms, total: 13.3 s
Wall time: 13.6 s

In [17]:
%%time
for i, row in enumerate(df.itertuples(index=False)):
    df.loc[i,"sum"] = getattr(row, 'A') + getattr(row, 'B')

CPU times: user 7.56 s, sys: 120 ms, total: 7.68 s
Wall time: 7.84 s

In [18]:
df

        A   B   C   D    sum
0      49  30  65  48   79.0
1      82  12  86  72   94.0
2       3  74  74  20   77.0
3      44  42  51  36   86.0
4      82  82  13   0  164.0
...    ..  ..  ..  ..    ...
99995  53  73  60  88  126.0
99996  10  61  82  37   71.0
99997  92  85  59  74  177.0
99998  38  17  63  72   55.0
99999  96  15  50  53  111.0

[100000 rows x 5 columns]