In [87]:
import pandas as pd

from Project.Database import Db
from optimisation_problem import hourly_house_df, slice_emission_vector, power_consumption_vector, NZERTF_optimiser, SE_time_df, json_to_dataframe
from Project._07OptimiseConsumption.emission_reduction import emission_reduction

In [88]:
NZERTF_optimisation, NZERTF_emission = emission_reduction(year=1)

In [89]:
for key, value in NZERTF_optimisation.items():
    print(f'{key}: {value["Emission"]}')

w.r: 0        254.850252
1        265.986256
2        252.701087
3        377.294215
4        276.959899
           ...
8668    1203.430614
8669    1350.703262
8670    1064.570910
8671     867.918481
8672     101.736097
Name: Emission, Length: 8673, dtype: float64
w.o.r: 0        254.850252
1        265.986256
2        252.701087
3        340.100208
4        269.361940
           ...
8668    1188.654172
8669    1350.703262
8670    1064.570910
8671     867.918481
8672     101.736097
Name: Emission, Length: 8673, dtype: float64
m.a.u.o: 0         0.000000
1         0.000000
2         0.000000
3         0.000000
4         0.000000
           ...
8668    112.914477
8669    205.299050
8670    130.022731
8671      0.000000
8672      0.000000
Name: Emission, Length: 8673, dtype: float64
m.a.o: 0          0.000000
1          0.000000
2          0.000000
3          0.000000
4          0.000000
           ...
8667       0.000000
8668      48.797821
8669    1069.285258
8670     118.589460
8671      29.647365
Name: Emission, Length: 8672, dtype: float64

In [90]:
NZERTF_emission

{'w.r': 6943587.30903113,
 'w.o.r': 6808693.4608922275,
 'm.a.u.o': 664541.8682200217,
 'm.a.o': 539569.892249094}

year1= {'w.r': 6943587.30903113,
 'w.o.r': 6808693.4608922275,
 'm.a.u.o': 664541.8682200217,
 'm.a.o': 539569.892249094}

year2 = {'w.r': 8371902.086841607,
 'w.o.r': 8242621.19712289,
 'm.a.u.o': 511242.76383277134,
 'm.a.o': 539569.892249094}

In [91]:
redundancy_reduction = NZERTF_emission['w.r'] - NZERTF_emission['w.o.r']
optimisation_reduction = NZERTF_emission['m.a.u.o'] - NZERTF_emission['m.a.o']
total_reduction = redundancy_reduction + optimisation_reduction

In [92]:
redundancy_reduction

134893.84813890234

In [93]:
optimisation_reduction

124971.97597092774

In [94]:
total_reduction

259865.82410983008

In [95]:
NZERTF_optimisation['m.a.o']

,Day,Hour,Timestamp,Load_StatusApplianceDishwasher,Load_StatusPlugLoadVacuum,Load_StatusClothesWasher,Load_StatusDryerPowerTotal,Load_StatusPlugLoadIron,Emission,CumulativeEmission
0,0,0,NaT,0,0,0,0,0,0.000000,0.000000
1,0,1,NaT,0,0,0,0,0,0.000000,0.000000
2,0,2,NaT,0,0,0,0,0,0.000000,0.000000
3,0,3,NaT,0,0,0,0,0,0.000000,0.000000
4,0,4,NaT,0,0,0,0,0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
8667,364,19,NaT,0,0,0,0,0,0.000000,538303.572346
8668,364,20,NaT,0,0,1,0,0,48.797821,538352.370166
8669,364,21,NaT,1,0,1,0,0,1069.285258,539421.655424
8670,364,22,NaT,1,0,0,0,0,118.589460,539540.244884
8671,364,23,NaT,1,0,0,0,0,29.647365,539569.892249

In [96]:
NZERTF_optimisation['m.a.u.o']

,Day,Hour,Load_StatusApplianceDishwasher,Load_StatusPlugLoadVacuum,Load_StatusClothesWasher,Load_StatusDryerPowerTotal,Load_StatusPlugLoadIron,Timestamp,Emission,Consumption
0,0,0,0.000000,0.0,0.0,0.0,0.0,NaT,0.000000,0.0000
1,0,1,0.000000,0.0,0.0,0.0,0.0,NaT,0.000000,0.0000
2,0,2,0.000000,0.0,0.0,0.0,0.0,NaT,0.000000,0.0000
3,0,3,0.000000,0.0,0.0,0.0,0.0,NaT,0.000000,0.0000
4,0,4,0.000000,0.0,0.0,0.0,0.0,NaT,0.000000,0.0000
...,...,...,...,...,...,...,...,...,...,...
8668,364,20,0.550000,0.0,0.0,0.0,0.0,NaT,112.914477,0.1551
8669,364,21,1.000000,0.0,0.0,0.0,0.0,NaT,205.299050,0.2820
8670,364,22,0.633333,0.0,0.0,0.0,0.0,NaT,130.022731,0.1786
8671,364,23,0.000000,0.0,0.0,0.0,0.0,NaT,0.000000,0.0000
8672,365,0,0.000000,0.0,0.0,0.0,0.0,NaT,0.000000,0.0000

In [97]:
NZERTF_optimisation['w.r']['Consumption'].sum()-NZERTF_optimisation['w.o.r']['Consumption'].sum()

183.57255390817772

In [98]:
NZERTF_optimisation['w.r']['Consumption'].groupby(NZERTF_optimisation['w.r']['Consumption'].index % 24).mean()

0     1.273943
1     1.167084
2     0.944542
3     0.704382
4     0.724481
5     0.984135
6     1.126662
7     0.883952
8     0.760245
9     1.504106
10    0.967332
11    1.030459
12    0.877086
13    0.634826
14    0.737784
15    0.946388
16    0.604700
17    1.106767
18    1.483960
19    1.103912
20    1.202882
21    2.151338
22    1.700271
23    1.529787
Name: Consumption, dtype: float64